
  .hero h1{
  position: relative;
  @media(--above_small){
    &::before{
    content: "";
    position: absolute;
    display: inline-block;
    align-items: center;
    width: calc(var(--space-s-2xl) + 4px);
    height: 6px;
    background-color: var(--color-nebula-950);
    top: 1ex;
    left: calc(-1 * var(--space-m-3xl));

    }
  }


}

.hero .sidebar{
  --sidebar-vertical-alignment: flex-start;
  --sidebar-target-width: 32.5rem;
  --sidebar-content-min-width: 25%;
  --gutter: var(--space-m-3xl);
}

