

html[lang="de"]{
    @media(--below_small){
    hyphens: auto;
    }
}

p{
  line-height: 1.4;
  max-width: 52ch;
}


  body{
    font-size: var(--size-step-0);
    color: var(--color-nebula-950);
    overflow-x: hidden;
    background: var(--color-nebula-50);
}


  :where(a) {
      text-decoration: underline;
      text-decoration-thickness: var(--border-width);
      text-decoration-color: inherit;
      text-underline-offset: calc(var(--border-width) * 2);
      color: inherit;
  }

    *,
  *::before,
  *::after {
    font-feature-settings: "kern";
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
  }
:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1) + * {
  --flow-space: 1.25em;
}

:is(h2,h3) + * {
  --flow-space: 0.75em;
}

h1 {
  --font-size: var(--size-step-4);
  font-size: var(--font-size);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

:is(h1,h2,h3,h4){
 font-family: var(--font-serif);
} 

strong{
    font-weight: 600;
  }

.content{
  margin-left: 2px;
}

.text-w{
  max-width: 52ch ;

}

.indent-line{
    @media(--above_large){
    text-indent: 1.5ch;
  }
}


.indent{
    display: flex;
    margin-left: var(--space-xs);
    gap: var(--space-2xs);
  & > div:first-child{
     width: 6px;
    background-color: var(--color-nebula-200);
  }

  }

.visually-hidden, .skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


.flex-1{
  flex: 1;

}

nav{
  & a{
    text-decoration: none;
  }
  & li:hover{
    text-decoration: underline;

  }
}

